<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jonas.mymoviesdatabase_android" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Movies"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".FrontActivity"
            android:label="FrontActivity"
            android:theme="@android:style/Theme.Holo.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MovieDetailsActivity"
            android:label="@string/title_activity_movie_details" >
        </activity>
        <activity
            android:name=".AddMovieActivity"
            android:label="@string/title_activity_add_movie" >
        </activity>
        <activity
            android:name=".SearchMovieActivity"
            android:label="@string/title_activity_search_movie" >
        </activity>
        <activity
            android:name=".AddMovieActivityNEW"
            android:label="@string/title_activity_add_movie_activity_new" >
        </activity>
        <activity
            android:name=".CardViewActivity"
            android:label="@string/title_activity_card_view" >
        </activity>
        <activity
            android:name=".RecyclerViewActivity"
            android:label="@string/title_activity_recycler_view" >
        </activity>
    </application>

</manifest>
